.top
{
  height:100vh;
  width: 100%;
  background-image: linear-gradient(rgba(30, 30, 30, 0.75),rgba(30, 30, 30, 0.75)),url(floodbktop.jpeg);
  background-position: center;
  background-size: cover;
  font-family:sans-serif;
}
body
{
  margin:0;
}

.navbar
{
  width: 85%;
  margin: auto;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo
{
  width: 120px;
  cursor: pointer;
}
.navbar ul li {
  list-style: none;;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a{
   text-decoration: none;;
   color: #fff;
   text-transform: uppercase;
}
.contact
{
 background-color: #4CAF50;
 color: white;
 padding: 15px 20px;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;

 cursor: pointer;
}
#section1
{
  width:100%;
  font-size: 30px;
  color:#9ADCFF;
  display: flex;
  align-items: center;
  justify-content: center;

}

#section1 h1
{
  margin-bottom:0;

}
.middle
{
  width:100%;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper
{
  width: 60%;
  height: fit-content;
}
.swiper-slide img
{
    width: 100%;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width:100%;
  background:#009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}
.content
{
  width: 100%;
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  text-align: center;
  color:#fff;
}
.content h1
{
   font-size: 100px;
   margin-top: 80px;
}
.content p
{

   font-size: 40px;
   font-weight: bold;
}
button
{
  width: 200px;
  padding: 15px 0 ;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border:2px solid #009688;
  background: #009688;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}
.bottom-container
{
  margin-top: 50px;
  background-color: #C8F2EF;
  text-align: center;
  padding:30px;

}
.bottom-container h1
{
  font-size:50px;
}
.swiper .swiper-button-prev,.swiper .swiper-button-next{
  color:#009688;
}
.swiper .swiper-pagination-bullet-active
{
  background: #009688;
}
html {
  scroll-behavior: smooth;
}
.Submit
{
  width:100%;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ba
{
  padding-left: -300px;
  padding-bottom: 0;
  color:#F68989;
  font-size:150%;
}
body
{
  text-align: center;
}
